body{
    font-family: 'League Spartan',sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: var(--fs-default);
}
#main-container{
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    width: 1000px;
    height: 600px;
    margin: auto;
}
#container{

}
#sub-container{
    width: 200px;
    height: 150px;
    margin: 0 0 30px 30px;
    /* border: 1px solid black; */
    position: relative;top: 50px; left: 30px;
    
}
#sub-container>h2{
    position:relative; bottom: 10px;
    text-align: left;
}
#sub-container>p{
    text-align: center;
    position: relative; bottom: 15px; 
    text-align: start;
    

}

#rated{
    /* border: 1px solid black; */
    float: right;
    position: relative; bottom:50px;
}
div>p>img{
    position: relative;right: 10px;
}
#review{
    border: 1px solid whitesmoke;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0 0 0;
    position: relative;bottom: 100px;
    position: relative;right: 150px;
}
#guru{
    border: 1px solid whitesmoke;
    width: 360px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0 0 0;
    position: relative;bottom: 100px;
    position: relative;right: 100px;
}
#tech{
    border: 1px solid whitesmoke;
    height:30px;
    padding: 10px 0 0 0;
    border-radius: 10px;
    background-color: white;
    position: relative;bottom: 100px;
    position: relative;right: 70px;
}
#colton{
    background-color: brown;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    color: white;
    margin: 7px 7px 7px 7px;
    padding: 30px 15px 50px 15px;
    position: relative;top: 100px; left: 50px; 

 
}
#colton>img{
    float: left;
    border-radius: 100px;
    position: relative; bottom:10px;
    width: 30px;
    height: 30px;    
}

#colton>h4{
    position: relative; bottom:35px;
    position: relative; right:50px;
}
#colton>h5{
    position: relative; bottom:50px;
    position: relative; right:40px;
    color: red;
}

#irene{
    background-color: brown;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    color: white;
    margin: 7px 7px 7px 7px;
    padding: 30px 15px 50px 15px;
    position: relative; left: 350px;
    position: relative; bottom: 70px;
}

#irene>img{
    float: left;
    border-radius: 100px;
    position: relative; bottom:10px;
    width: 30px;
    height: 30px;    
}

#irene>h4{
    position: relative; bottom:35px;
    position: relative; right:50px;
}
#irene>h5{
    position: relative; bottom:50px;
    position: relative; right:40px;
    color: red;
}

#anne{
    background-color: brown;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    color: white;
    margin: 7px 7px 7px 7px;
    padding: 30px 15px 50px 15px;
    position: relative; bottom: 240px;
    position: relative; left: 650px;
}

#anne>img{
    float: left;
    border-radius: 100px;
    position: relative; bottom:10px;
    width: 30px;
    height: 30px;    
}

#anne>h4{
    position: relative; bottom:35px;
    position: relative; right:50px;
}
#anne>h5{
    position: relative; bottom:50px;
    position: relative; right:40px;
    color: red;
}
div>p{
    position: relative; bottom: 60px;
    
}
@media  screen and (min-width: 780px) {
    :root{
        --fs-medium:2.8125rem;
        --fs-large: 3.75rem;
        --fs-xlarge: 4.6875rem;
    }
    
}
@media screen and(min-width:1024px){
    #main-container{
        max-width: 720px !important;
        height: auto;
        background-color: white;
        padding: 5rem 3.75rem;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }
    
}

